#loginbox{
    padding: 3px 8px;
    margin: 0 auto;
    background-color: #ade;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.loginform input[type="text"],
.loginform input[type="password"] {
    margin-bottom: 10px;
}
